block mainVars
	- page = ''
	- section = ''

doctype html
html
	include default-partials/html-head

	body
		header
			nav
				a(href="/",title="back to home")#logo
					img(src='/img/logo.gif')

				ul
					- each page,i in Navigation
						- if (currentPage === page.link)
							li(class='#{page.link}')
								a(href='/#{page.link}').active #{page.title}
						- else
							li(class="#{page.link}")
								a(href='/#{page.link}') #{page.title}

		main(id='#{currentPage}')
			block content

		include default-partials/footer